__pycache__/Debugger.cpython-310.pyc
__pycache__/FPS.cpython-310.pyc
__pycache__/Freeplay.cpython-310.pyc
__pycache__/Main.cpython-310.pyc
__pycache__/Play.cpython-310.pyc
__pycache__/Settings.cpython-310.pyc
assets/saves/save.txt
assets/saves/highscore.txt
